<div class="container">
	<h1>ギャラリー編集画面</h1>

		<%= form_with model: @gallery, url: {controller: 'galleries', action: 'update' } do |f| %>

			<label>ギャラリー名</label>
			<%= f.text_field :gallery_name %>
			<label>コンセプト</label>
			<%= f.text_field :concept %>
			<%= f.submit %>
		<% end %>
</div>