<div class="container new-gallery">
	<div class = "row">
		<div class = "col xl10 l10 m10 s10 offset-xl1 offset-l1 offset-m1 offset-s1">
			<h3 class = "center">ギャラリーを開く</h3>
			<p class = "center">入力内容は後から変更できます</p>
			<% if user_signed_in? %>
				<%= form_with model: @gallery, url: {controller: 'galleries', action: 'create' } do |f| %>
					<label>名前</label>
					<%= f.text_field :gallery_name %>
					<label>コンセプト</label>
					<%= f.text_field :concept %>
					<div class = "center">
					<%= button_tag 'Open', class: 'btn-large waves-effect waves-light', type: 'button', onclick: 'submit();' %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>