<div class = "container follow">
	<div class = "row">
		<div class = "col xl12 l12 m12 s12">
		<h1>Following</h1>
			<% if @users.count > 0 %>
				<%= render '/users/users/index', users: @users %>
				<% else %>
				<p>いません。</p>
			<% end %>
		</div>
	</div>
</div>