<div class = "container">
	<div class = "row center">
		<h1>toiroとは</h1>


開くのも、足を運ぶのもちょっと敷居が高い個展を、もっと身近にという想いを込めて作られたオンラインギャラリーです。
個展ととは言っても、そんなに気張る必要はありません。作品はもちろん、日常のふとした瞬間や、心を動かされた風景を展示して
つくる人も、みる人も、それぞれがシームレスに繋がる、



ひとは皆、１０人１０色
それぞれに名前があり、ふるさとがあり、思いがある。
ひとつの空を描いたとして、青の深さも、雲の形もきっとそれぞれ
同じものは一つとして出来上がりません。


個性という、たった一つの色
人と出会うことで、新しい色が生まれる
真っ白なだったキャンバスは、やふ

toiroはそんな絵具のパレットのような場所でありたいと願っています。




考えるということ

主催者は個展のタイトルを決めて、その
作品を飾ります。

単発の投稿と違って、少し悩むかもしれません。
でもその考える時間こそ
日常の中にある
を見つけることができます。







街を巡るように
toiroが目指したのは、街を巡るような出会いの自然発生です。


toiroに「括り」はありません

画家と写真家が出会ったら、





数字の代わりに、言葉と花を
toiroにはコメントやいいねの数を表示していません。
作品の価値は数字では決められません。
その代わりに感想ノートとお花を用意しています。
お気に入りの個展に、言葉と花を送りましょう。




クリエイターのプロフィール画面から、名刺をダウンロードすることができます。
toiroでの出会いは、ここで完結することなく、続いていきます。



	</div>
</div>

