/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require material_icons
 *= require_self
 */

@import 'materialize';

@import "https://fonts.googleapis.com/icon?family=Material+Icons";


$snow: #fffafa; //赤味がかった白
$ghost: #f8f8ff; //淡い青紫
$honey: #f0fff0; //淡い緑
$linen: #faf0e6; //淡い橙色
$black:#17171a; //青紫系の黒

$sans: sans-serif; // 細め明朝体

.user-show{
	.user-info{
		border-radius: 5px;
		background-color:$snow;
		font-family:$sans;
		// border: 1px solid;
		// border-color:gray;
		margin: 0 auto;
		height: 250px;
		.user-image{

			height: 200px;
			line-height: 250px;
			margin: 25px auto;
			text-align: center;
			.image{
				border-radius: 50%;
			}
		}
		.info-text{
			margin-top:20px;
			.name{
				padding-bottom: 8px;
				border-bottom: 1px dotted;
			}

		}

	}
}
.notification{
	// text-align: center;
	.sidenav{
		background-color: $ghost;
		padding:50px 20px 0 20px;
		border-radius: 10px;
		width: 450px;
		.index{
			text-align: center;
			font-family: $sans;
			color: #17171a;
			margin-bottom: 40px;
		}

		.notification-content{
			border-bottom: 1px dotted;
			padding-bottom: 20px;
			.notification_user{
				vertical-align: middle;
				border-radius: 50%;
			}
		}

	}

}

#info{
	width: 200px;
	height: 200px;
	background-color: pink;
}