/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require material_icons
 *= require_self
 *= require font-awesome
 */

@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

$snow: #fffafa; //赤味がかった白
$ghost: #f8f8ff; //淡い青紫
$honey: #f0fff0; //淡い緑
$linen: #faf0e6; //淡い橙色
$black:#17171a; //青紫系の黒
$green:#7cb342; // アクティブ
$gray :#757575; // アクティブフォルス
$bluegray:#90a4ae;
$bluegray-d:#607d8b;
$pink:#f06292;
$sans: sans-serif; // 細め明朝体
$dotum: Dotum;
$gothic: 'arial narrow';
$error:'arial unicode ms';

$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px;  // スマホ

@mixin session{
	z-index: 1;
	top:10px;
	right: 20px;
	position: absolute;
	border:1px dotted;
	border-color: #2c3a36;
	background-color:rgba(229, 120, 115, 0.3);
	padding: 5px 10px;
	border-radius: 10px;
	font-size: 20px;
	transition:.2s;
	&:hover{
		background-color:rgba(229, 120, 115, 0.8);
		transition:.2s;
	}
}


// ヘッダー
.header{
	background: image-url('toiro-header-0.png') no-repeat;
	background-color:rgba(255, 255, 255, 0.7);
	background-size: cover;
	height: 330px;
	margin-bottom: 150px;
	padding-bottom: 20px;
	.header-cover{
		background-color:rgba(255, 255, 255, 0.7);
		background-size: cover;
		padding-top: 20px;
		position: relative;
		.header-contents{

			height: 330px;
			.logo{
				.logo-image{
					margin-left: 30px;
					// margin-top: 40px;
				}
			}
			a{
			color: #2c3a36;
			}
			.session{
				.logout{
					@include session;
				}
				.admin-logout{
					@include session;
				}
				.admin-login{
					@include session;
				}
				.user-login{
					@include session;
					right: 283px;
				}
				.user-signup{
					@include session;
					right: 180px;

				}

			}
			.links{
				position: absolute;
				width: 100%;
				bottom: 20px;
				background-color:rgba(145, 219, 198, 0.5);
				height:100px;
				padding-top: 15px;
				border-bottom:double;
				border-top:double;
				border-color: $gray;
				.hold-link{
					margin-bottom: 5px;
					font-size: 28px;
					transition:.2s;
					&:hover{
						color:#009688;
					}
				}
				.watch-link{
					margin-left: 8px;
					font-size: 28px;
					margin-bottom: 5px;
					transition:.2s;
					&:hover{
						color:#009688;
					}
				}
				.current-gallery{
					margin-bottom: 20px;
					margin-top: 10px;
					display: inline-block;
					margin-right: 5px;
					padding-left: 20px;
					.current_username{
						transition:.2s;
						color:#00838f;
						&:hover{
							color: #d32f2f;
							transition:.2s;
						}
					}
					.open-gallery{
						display: inline-block;
						margin: 0;
						color: #00838f;
					}
				}
				.build-gallery{
					&:hover{
						color:#009688;
					}
				}
				.unlogin{
					margin-right: 20px;
					&:hover{
						color: #009688;
						border-bottom: 1px dotted;
					}
				}
				.admin-users{
					margin-right: 20px;
					line-height: 60px;
					&:hover{
						color: #009688;
						transition:.2s;
						border-bottom: 1px solid;
					}
				}
				.admin-exhibitions{
					margin-left: 20px;
					line-height: 60px;
					&:hover{
						color: #009688;
						border-bottom: 1px solid;
						transition:.2s;
					}
				}
				a{
				line-height: 30px;
				color: #2c3a36;
				font-size: 25px;
				font-family:$sans;
				}
			}
			.style_image {
			  margin: 0 15px;
			}

			#modal2{
				width: 700px;
				border-radius: 10px;
				background: rgba(255,255,255,1);
				padding: 5px;
				.watch{
					.gallery{
						margin: 0 50px;
					}
					a{
						&:hover{
							color:#009688;
						}
					}
				}
			}
		}
	}
}

// 通知
.notificationbar{
	display: inline-block;
	.true{
		color: $green;
	}
	.false{
		color: $gray;
	}
		.notification{
			.sidenav{
				background-color: $ghost;
				padding:50px 20px 0 20px;
				border-radius: 10px;
				width: 450px;
				.index{
					text-align: center;
					font-family: $gothic;
					color: #17171a;
					margin-bottom: 40px;
				}

				.notification-content{
					font-family: $sans;
					border-width: 90%;
					padding-bottom: 0px;
					a{
					font-size: 18px;
					color: #00897b;
					&:hover{
					color:#e57373;
					}
					}
					.notification_user{
						vertical-align: middle;
						border-radius: 50%;
					}
				}

			}

		}
}





footer{
	height: 200px;
	background-color: #80cbc4;
	opacity: 0.6;
	margin-top: 150px;
	border-top:double;
	border-color: $gray;
	font-family: $sans;
	margin-bottom: 0;
	.row{
		margin-bottom: 0;
		h1{
			margin-bottom: 10px;
		}
		h5{
			border-bottom: 1px solid;
		}
		.concept{
			color: $black;
			font-size: 20px;
			border:1px solid;
			padding: 5px 10px;
			transition:.2s;
			&:hover{
				transition:.2s;
				color: white;
				background-color: $black;
			}
		}
		.contents{
			margin-top: 10px;
			font-size: 18px;
			a{
				color: $black;
				transition:.2s;
				&:hover{
					transition:.2s;
					color:#fafafa;
				}
			}
		}
	}
}

.signup{
	font-family: $dotum;
	color: $black;
	.error{
		font-family:$error;
		color: #e53935;
		font-size: 15px;
		h2{
			font-size: 20px;

		}
	}
	.title{
	color:#424242;
	font-size: 40px;
	}
	p{
		font-family: $gothic;
	}
	.pass{
		font-size: 14px;
	}
}

.signin{
	font-family: $dotum;
	color: $black;
}

// トップ
.top{
	// background-color:#cfe2e6;
	padding: 50px 10px;
	font-family: $sans;
	.head{
		margin-bottom: 100px;
		h2{
			margin-top: 0;
			border-bottom: 1px solid;
		}
		.top-text{
			margin-bottom: 50px;
		}
		a{
			border:double;
			padding: 10px 20px;
			font-size:30px;
			color: $black;
			transition:.2s;
			&:hover{
				background-color: $black;
				color:white;
				transition:.2s;
			}
		}
	}
	.exhibitions{
		border:double;
		border-color: #cfe2e6;
		padding: 20px;
		margin-bottom:70px;
		.work_image{
		}

		.open{
			text-align: center;
			h4{
				display: inline-block;
				border-bottom: 1px solid;
				margin-bottom: 30px;
			}
		}
		.more{
			a{
				color: $black;
				&:hover{
					border-bottom: double;
				}
			}
		}
	}
	.session{

		.gallery{
			p{
				margin-bottom: 50px;
			}
			.open{
				border:double;
				padding: 10px 20px;
				font-size:30px;
				color: $black;
				transition:.2s;
				&:hover{
					background-color: $black;
					color:white;
					transition:.2s;
				}
			}
		}

		.exhibition{
			h5{
				margin-bottom: 50px;
			}
			.holding{
				border:double;
				padding: 10px 20px;
				font-size:30px;
				color: $black;
				transition:.2s;
				&:hover{
					background-color: $black;
					color:white;
					transition:.2s;
				}
			}
		}
		.links{
			.btn{
				margin-bottom: 20px;
				margin-top: 20px;
			}
		}
	}
}

// アバウト
.about{
	font-family: $sans;
	.about-content{
		padding: 20px;
	}
}

// ギャラリー作成
.new-gallery{
	font-family: $sans;
	.btn{
		margin-top: 30px;
	}
}


// ギャラリー一覧
.gallery-index{
	.title{
		// margin:0 auto;
		.galleries{
			font-size: 25px;
			margin-bottom: 50px;
			margin-top: 0;
			border-bottom: 1px solid;
			display: inline-block;
		}
	}
	.gallery-info{
		margin-bottom: 80px;
		padding: 20px;
		// background-color: $snow;
		.user-image{
			padding-top: 20px;
		}
		.gallery-name{
			border-bottom: 1px solid;
			padding-bottom: 18px;
			font-size: 20px;
		}
		.col{
			padding: 0;
		}
		.concept{
			// border-left: 1px solid;
			text-align: center;
			padding: 15px;
			padding-top:0;
			height: 100px;
			margin: 0;
		}
		.show-link{
			a{
			color: #006064 ;
			font-size: 20px;
			transition:.2s;
			&:hover{
				transition:.2s;
				color: $pink;
				border-bottom: 1px solid;
			}
			}
		}
	}
}

// ギャラリー編集
.gallery-edit{
	font-family: $sans;
	.material-icons{
		color: $black;
		&:hover{
		color: $pink;
		}
	}
}


// ユーザー一覧
.user-index{
	p{
		font-size: 25px;
		margin-bottom: 50px;
		margin-top: 0;
		border-bottom: 1px solid;
		display: inline-block;
	}
	.user-info{
		margin-bottom: 80px;
		h5{
			margin-top:5px;
		}
		a{
			color: $black;
			.user-image{
				padding: 10px;
				border-top: 1px solid;
				border-bottom: 1px solid;
				transition:.2s;
				&:hover{
					padding: 5px;
					transition:.2s;

				}
			}


		}
	}

}

// ユーザーページ
.user-show{
	font-family: $sans;
	.create-gallery{
		font-size: 25px;
		margin: 30px 0;
		a{
			color: $black;
			&:hover{
				color:$green;
			}
		}
	}
	.gellery_name{
		margin-top: 20px;
	}
	.concept{
		padding: 0 30px;
	}

	.user-info{
		border-radius: 5px;
		background-color:$snow;
		font-family:$sans;
		margin: 0 auto;
		height: 250px;
		.user-image{
			height: 200px;
			line-height: 250px;
			margin: 25px auto;
			text-align: center;
			.image{
				border-radius: 50%;
			}
		}
		.info-text{
			margin-top:20px;
			.name{
				padding-bottom: 8px;
				border-bottom: 1px dotted;
			}
		}
	}

	.download{
		a{
		color:#37474f;
		font-family: $gothic;
		}
		p{
			display: inline-block;
			margin: 0;
			padding-top: 5px;
			border-bottom: 1px solid;
			margin-right: 10px;
		}
	}

	.user-content{
		.folder{
			width: 100px;
			display: inline-block;
			font-size: 20px;
			span{
				display: block;
				color: $black;
				text-align: center;
			}
		}

		.follow-action{
			display: inline-block;
			span{
				padding-right: 18px;
				display: block;
				color: $black;
				text-align: center;
				font-size: 20px;
			}
			.following{
				color: $green;
			}
		}

	.mypage{
		span{
			display: block;
			color: $black;
			text-align: center;
				&:hover{
					color: $pink;
				}
		}
		.myfolder{
			width: 100px;
			display: inline-block;
			font-size: 20px;
		}
		.friend{
			display: inline-block;
			margin: 0 10px;
			font-size: 20px;
		}
		.edit{
			display: inline-block;
			margin-left: 15px;
			font-size: 20px;
			#modal-edit{
				width: 500px;
				border-radius: 10px;
				.edit-contents{
					padding-top:30px;
					padding-bottom: 40px;
					.edit-gallery{
						margin-right: 40px;
						display: inline-block;
					}
					.edit-user{
						margin-left: 40px;
						display: inline-block;
					}
				}
			}
		}
	}
		#modal-follow{
			width: 500px;
			border-radius: 10px;
			.follow-contents{
					padding-top:30px;
					padding-bottom: 40px;
					a{
						&:hover{
							opacity: 0.5;
						}
					}
				.following-user{
					margin-right: 40px;
					display: inline-block;
				}
				.followed-user{
					margin-right: 40px;
					display: inline-block;
				}
			}
		}
	}
	.user-exhibitions{
		margin-top: 100px;
		margin-bottom: 50px;
		h4{
			border-bottom: 1px solid;
			border-color: #6d4c41;
			padding-bottom: 5px;
			display: inline-block;
		}
		h6{
			margin-top: 5px;
		}
		a{
			transition:.2s;
			color: $black;
			&:hover{
				opacity: 0.8;
				transition:.2s;
			}
		}
		.pagenate{
			margin-top: 10px;
		}
	}
}

// ユーザ編集
.user-edit{
	font-family: $sans;
	#modal-user-delete{
		width: 500px;
		border-radius: 10px;
	}
	.material-icons{
		color: $black;
		&:hover{
		color: $pink;
		}
	}
}


// フォルダ詳細
.folder-show{
	font-family: $sans;
	.material-icons{
		color: $black;
		&:hover{
		color: $pink;
		}
	}
	.folder-item{
		padding: 10px;
		table{

			margin: 0 auto;
		}
		.action{
			margin: 5px 5px 0 0;
			.btn-small{
				margin-right: 10px;
			}
		}
	}
}

// フォルダ編集
.folder-edit{
	font-family: $sans;
	.material-icons{
		color: $black;
		&:hover{
		color: $pink;
		}
	}
}

// フォルダ一覧
.folder-index{
	font-family: $sans;
	.material-icons{
		color: $black;
		&:hover{
		color: $pink;
		}
	}
	h3{
		margin-bottom: 60px;
	}
	.folders-content{
		padding-top: 50px;
	}

		.folder{
			background: image-url('folder-icon.svg') no-repeat center;
			width: 500px;
			height: 200px;
			margin: 20px auto;
			padding-left: 20px;
			position: relative;
			p{
				margin-left: 60px;
			}

			a{
				margin-top: 50px;
				margin-right: 50px;
				margin-left: 60px;
				color: #37474f;
				font-size: 30px;
				font-family:arial;
				position: absolute;
					  position: relative;
					  display: inline-block;
					  text-decoration: none;
			}
					a::after {
					  position: absolute;
					  bottom: -4px;
					  left: 0;
					  content: '';
					  width: 100%;
					  height: 2px;
					  background: $pink;
					  transform: scale(0, 1);
					  transform-origin: right top;
					  transition: transform .3s;
					}
					a:hover::after {
					  transform-origin: left top;
					  transform: scale(1, 1);
					}
		}
			.edit{
				a{
					font-size: 20px;
					margin:0;
					margin-right: 70px;
				}
			}
	.modal{
		width: 500px;
		padding: 20px;
		border-radius: 10px;
	}
}


// 個展開催
.exhibition-new{
	font-family: $sans;
	.work_prev{
		// width: 200px;
		// height: 200px;
	}
}

// 個展一覧
.exhibition-index{
	font-family: $sans;
	.random{
		margin-bottom: 70px;
		.random-contents{
			border-color: $black;
			border-bottom: 1px solid;
			h5{
			margin-bottom: 5px;
			}
			p{
			margin-top: 0;
			margin-bottom: 20px;
			}
			.link{
			font-size: 20px;
			transition:.2s;
			color:#505b66;
				&:hover{
				border-bottom: double;
				border-color: #b2dfdb;
				color:#4db6ac;
				transition:.2s;
				}
			}
		}
	}

	.exhibitions{
		h3{
			margin-bottom: 50px;
		}
		.work-one{
			margin-bottom: 20px;
			padding: 10px;
			.caption{
				text-align: center;
			}
			.work-image{
				margin: 0 auto;
				width: 400px;
				height: 300px;
				padding: 10px;
				padding-top: 35px;
				background: image-url('gaku4.svg') no-repeat center;
				.z-depth-5{
					border: 1px solid;
					border-color: $snow;
					border-radius: 5px;
				}
			}
		}
	}

}

// ランダム遷移先
.random-next{
	font-family: $sans;
	margin-bottom: 100px;
	.random-contents{
		a{
		transition:.2s;
		color:$black;
			&:hover{
			transition:.2s;
			border-bottom: double;
			color:#4db6ac;
			}
		}
		.back{
			font-size: 20px;
		}
		.next{
			font-size: 20px;
		}
	}
}


// 個展詳細
.exhibition-show{
	font-family: $sans;
	color: $black;
	border-color: $black;
	padding-bottom: 100px;
	.exhibition-top{
		margin-bottom: 50px;
		.title{
			border-bottom: double;
		}
		.caption{
			font-size: 20px;
		}
		.exhibition-edit{
			color: $black;
			&:hover{
				color: $pink;
			}
		}
	}
	.works{
		border-bottom: 1px dotted;
		border-color: $black;
		margin-bottom: 100px;
		padding: 70px 0 90px 0;
		.work-image{
			width: 340px;
			height: 340px;
			padding-top: 20px;
			// background: image-url('Flame2.png') no-repeat center;
			margin: 0 auto;

		}
		.work-title{
			border-bottom: 1px solid;
		}
	}
	.comment{
		padding: 10px;
		margin-bottom: 50px;
		border: 1px solid;
		position: relative;
		height: 500px;
		overflow: scroll;
		.comment-content{
			border-bottom: 1px solid;
			p{
				margin: 0;
				width: 50px;
			}
			span{
				font-size: 20px;
			}
			.user-image{
			border-radius: 10px;
			margin-right: 10px;
			}
			a{
				color: $bluegray;
				margin-top: 30px;
				&:hover{
					color: $bluegray-d;
					transform: scale(1.1);
				}
			}
		}

	}
	#comment_form{
		padding: 0;
		.write{
			// display: inline-block;
		}
	}



.card{
	margin: 0 auto;
	width: 300px;
	padding: 10px;
	background-color: $snow;
	text-align: center;
	transition:.2s;
	color: $black;
	&:hover{
		transition:.2s;
		opacity:0.9;
		background-color:$ghost;
		transform: scale(1.1);
	}
	h5{
		margin:0;
	}
}

	.send-flower{
		.send{
			margin-top: 60px;
		}
	}
	.add-folder{
		font-size: 20px;
		.modal{
			border-radius: 10px;
			width: 500px;
		}
		.btn{
			margin-left: 20px;
		}
	}

}
.flower{
	border: 1px solid;
	height: 500px;
	padding: 10px;
	overflow: scroll;
	.flower-user{
		margin-bottom: 10px;
			.user-image{
				margin-right: 10px;
				border-radius: 10px;
			}
	}

}
#info{
	width: 200px;
	height: 200px;
	background-color: pink;
}

// 個展編集画面
.exhibition-edit{
	font-family: $sans;
	.material-icons{
		color: $black;
		&:hover{
		color: $pink;
		}
	}
	.ex-form{
		width: 500px;
	}
	#modal_delete{
		width: 600px;
		border-radius: 10px;
	}
}




// フォロー
.follow{
	font-family: $sans;
	.material-icons{
		color: $black;
		&:hover{
		color: $pink;
		}
	}
	h1{
		border-bottom: 1px solid;
	}
	.user-info{
		height: 450px;
		padding: 10px;
		border-radius: 5px;
		transition:.2s;
		color:#37474f;
		h5{
			border-bottom: 1px solid;
		}
		&:hover{
			transition:.2s;
			background-color:#b2dfdb;
			transform: scale(1.05);
		}
		.user-image{
			border-radius: 5px;
		}
	}
}







.comment2{
	background: image-url('comment2.png') no-repeat center;
	height: 320px;
	width: 270px;
	padding: 30px;

}


// 管理者トップ
.admin-top{
	.exhibitions{
		border-bottom: 1px solid;
		.top-exhibition{
			border-bottom: 1px solid;
			h5{
				display: inline-block;
			}
			span{
				padding-left: 50px;
			}
		}
		.exhibitions-index{
			padding: 40px 0;
		}
	}

	.users{
		border-bottom: 1px solid;
		margin-top: 70px;
		.top-user{
			border-bottom: 1px solid;
			h5{
				display: inline-block;
			}
			span{
				padding-left: 50px;
			}
		}
		.users-index{
			padding: 40px 0;
		}
	}
}


// 管理者ユーザー詳細
.admin-user-show{
	.exhibition-index{
		font-size: 15px;
	}
	.active-true{
		color: $green;
		margin-right: 0;
	}
	.active-false{
		color: $gray;
		margin-right: 0;
	}

}

// 管理者のユーザー編集

.admin-user-edit{
	.backlink{
		color: $black;
		font-size: 20px;
		&:hover{
			color:$pink;
		}
	}
}

// 管理者の個展詳細
.admin-exhibition{
	.exhibition-menu{
		margin-top: 20px;
	}
	.comments-contents{
		overflow: scroll;
		height: 200px;
		// background-color: pink;
	}
}


// 管理者個展編集画面
.admin-exhibition-edit{
	.material-icons{
		color: $black;
		&:hover{
		color: $pink;
		}
	}
	.ex-form{
		width: 500px;
	}
	#modal_delete{
		width: 600px;
		border-radius: 10px;
	}
	.backlink{
		color: $black;
		font-size: 20px;
		&:hover{
			color:$pink;
		}
	}
}




// 管理者

// 会員一覧
.admin-user-index{

}








